
<div class="row">
    <div class="col-md-3">
        <div class="row">
            <h6>Máy chấm công</h6>
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Chọn máy chấm công</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div> 
        </div>
        
    </div>
    <div class="col-md-9 block-right">
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Tên máy</th>
                <th scope="col">Model máy</th>
                <th scope="col">Port</th>
                <th scope="col">Địa chỉ IP</th>
                <th scope="col">Chi nhánh</th>
                <th scope="col">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of data">
                <td>{{item.name}}</td>
                <td>{{item.model}}</td>
                <td>{{item.tcpPort}}</td>
                <td>{{item.ipAddress}}</td>
                <td>Chi nhánh 1</td>
                <td>
                    {{isConnect ? 'Đã kết nối' : 'Chưa kết nối'}}
                </td>
              </tr> -->
            </tbody>
        </table>
    </div>
</div>
