<header class="modal-header">
    <h5 class="modal-title">{{title || 'Xác nhận'}}<span class="o_subtitle text-muted small"></span></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">×</button>
</header>

<div class="modal-body">
    <p>{{body || 'Bạn có chắc chắn?'}}
        <span *ngIf="body2"><br>
            {{body2}}
        </span>
    </p>
</div>

<footer class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onConfirm()" accesskey="s"><span>{{confirmText}}</span></button>
    <button type="button" [class]="'btn btn-secondary o_form_button_cancel ' + closeClass" (click)="onCancel()"
        accesskey="q"><span>{{closeText}}</span></button>
</footer>